@{
    ViewBag.Title = "Residencias Profesionales";
}

<div class="jumbotron">
    <h1>Procedimiento del SGC para la Operación y Acreditación de las Residencias Profesionales</h1>
    <p class="lead">
        Establecer el  lineamiento y  las actividades que son  aplicados en la  planeación, operación y acreditación de la   
        residencia profesional para los planes y programas de estudio del Instituto Tecnológico Superior de Escárcega
        con un enfoque por competencias profesionales
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>
            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseRequitos" aria-expanded="false" aria-controls="collapseRequitos">
                Requisitos
            </a>
        </h2>
        <div class="collapse" id="collapseRequitos">
            <div class="well">

                <p>
                    El alumno que ha cubierto el 75% del total de sus créditos puede solicitar la realización de sus Residencias Profesionales mediante los siguientes mecanismos:
                </p>
                <p>
                    <ol>
                        <li>
                            A través de su selección en el banco de proyectos de la coordinación respectiva.
                        </li>
                        <li>
                            Proponiendo su propio tema directamente a la División de Estudios Profesionales, la que turnara al Departamento Académico para su análisis
                        </li>
                        <li>
                            Presentando a la División de Estudios Profesionales su situación como trabajador de alguna empresa, para que se dictamine la correspondencia entre las actividades que realiza y las de un proyecto de Residencias Profesionales.
                        </li>
                    </ol>

                <p>
                    En los casos en que el alumno propone su propio proyecto o somete a consideración su situación como trabajador es conveniente que su propuesta de proyecto de Residencias Profesionales con tenga la siguiente información:
                    <ul>
                        <li>
                            Nombre y objetivo del proyecto.
                        </li>
                        <li>
                            Cronograma preliminar de actividades.
                        </li>
                        <li>
                            Descripción detallada de las actividades.
                        </li>
                        <li>
                            Lugar donde se realizará el proyecto.
                        </li>
                        <li>
                            Información de la empresa o institución donde se desarrollara el trabajo.
                        </li>
                    </ul>

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>
            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseAsignacion" aria-expanded="false" aria-controls="collapseAsignacion">
                Asignación y acreditación de las residencias profesionales
            </a>
        </h2>
        <div class="collapse" id="collapseAsignacion">
            <div class="well">
                <ul>
                    <li>
                        <p>
                            La oportunidad de asignación de proyecto de residencia será única para cada estudiante y la participación en un mismo proyecto podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto.
                        </p>
                    </li>
                    <li>
                        <p>
                            La participación simultanea de varios residentes en un mismo proyecto se justificara únicamente cuando se asegure que las actividades de cada residente se desarrollen entre los limites de 4 a 6 meses de duración y 640 horas acumuladas.
                        </p>
                    </li>
                    <li>
                        <p>
                            A solicitud del candidato a residente, el departamento de servicios escolares, a través de la oficina de control escolar, le extenderá una constancia de su situación académica, en la que se defina si ha aprobado al menos el 75% de los créditos de su plan de estudios y si es alumno regular.
                        </p>
                    </li>
                    <li>
                        <p>
                            Una vez aprobado el proyecto de residencia profesional el alumno deberá sustentar entrevistas con asesores internos y externos para determinar los horarios definitivos de actividades.
                        </p>
                    </li>
                </ul>
            </div>
            @*<p><a class="btn btn-lg btn-primary btn-block" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
    </div>
</div>